!!! 5
html(ng-app="app")
  head
    base(href='/')
    title= settings.title
    link(rel='stylesheet', href='/app.css')
    link(rel='stylesheet', href='/bower.css')
    script.
      SETTINGS = !{JSON.stringify(settings)}
    script(src='/bower.js')
    script(src='/socket.io.js')

  body
    div(main-nav)
    div(ng-view)
    div(ng-include="'footer.html'")
    script(src='/app.js')
    script
      require('boot')
    