!!! 5
html(ng-app="app")
  head
    base(href='/')
    title {{ seo.title }}
    script.
      SETTINGS = !{JSON.stringify(settings)}
      window.prerenderReady = false;
    link(rel='stylesheet', href='/app.css')
    link(rel='stylesheet', href='/bower.css')
    script(src='/bower.js')
    script(src='/analytics.js')
    meta(name='description', content='Providing free 9 Dots STEM project curriculum')
    meta(name='keywords', content='curriculum, stem, steam, learning, community, education, science, technology, engineering, math, learn, explore, dots, nine, 9')
    meta(name='fragment', content='!')

  body
    div(main-nav)
    div(ng-view)
    div(ng-include="'footer.html'")
    script(src='/app.js')
    script
      require('boot')
    