!!! 5
html(ng-app="app")
  head
    base(href='/')
    title 9 Dots STEM Curriculum | {{seo.title}}
    script.
      SETTINGS = !{JSON.stringify(settings)}
      window.prerenderReady = false
    link(rel='stylesheet', href='/app.css')
    link(rel='stylesheet', href='/bower.css')
    script(src='/bower.js')
    script(src='/analytics.js')
    meta(name='description', content='{{seo.description}}')
    meta(name='keywords', content='curriculum, stem, steam, learning, community, education, science, technology, engineering, math, learn, explore, dots, nine, 9')
    meta(name='fragment', content='!')
    meta (name="google-site-verification", content="_p-gmrweyJOxwKCgLfKieqgpEJlMH1qDQ2pHgIsp_q0")

  body
    div(main-nav)
    div(ng-view)
    div(ng-include="'footer.html'")
    script(src='/app.js')
    script
      require('boot')

<!DOCTYPE html>